main{
    height:100vh;
}
/* #hidden{
    display:none;
} */
.articleList{
    width:40vw;
    color:white;
    font-family: 'Julius Sans One', sans-serif;
    width:40vw;
    height:30vh;
    overflow: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:linear-gradient(
        rgba(36, 35, 35, 0.85),
        rgba(26, 26, 26, 0.85)
        ),
         url('https://i.pinimg.com/originals/11/b6/76/11b6769c8f2ea91b25fa0bb10bcaf4ab.jpg');
    
}
.newAndArticlesResult{
   margin:0 auto;
   display:flex;
   flex-direction: row;
}

.newsAndArticles{
    border:1px solid black;
    display:flex;
    flex-direction: row;
    height:30vh;
}
.newsDiv{
    width:40vw;
    border:1px solid black;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:linear-gradient(
        rgba(36, 35, 35, 0.85),
        rgba(26, 26, 26, 0.85)
        ),
         url('https://i.pinimg.com/originals/11/b6/76/11b6769c8f2ea91b25fa0bb10bcaf4ab.jpg');
}
section{
    color:white;
}
.newsForm{
    display: flex;
    justify-content: space-evenly;
}
input{
    color:white;
    font-size: large;
}

.newsHeader{
    font-family: 'Julius Sans One', sans-serif;
}

.contentWrapper {
    width:80vw;
}
.wrapper{
    display: flex;
    flex-direction: row;
}

#addBtnArticle{
    background-color: rgba(224, 254, 216, 0.817);
    color:rgb(0, 0, 0);
    border-radius: 10%;
}
#saveBtnArticle{
    background-color: rgba(224, 254, 216, 0.817);
    color:rgb(0, 0, 0);
    border-radius: 10%;
}
#addBtnArticle:hover {
    background-color: #73eb77
}
#saveBtnArticle:hover {
    background-color: #73eb77
}

#addBtnArticle:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#saveBtnArticle:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }