h2{
    font-family: 'Julius Sans One', sans-serif;
}
.friendCardName {

    color: white;
}

.friendsList{
    border:1px solid black;
    width:20vw;
    height:100.5vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:linear-gradient(
        rgba(19, 19, 19, 0.95),
        rgba(11, 11, 11, 0.95)
        ),
         url('https://thumbs.dreamstime.com/b/grid-close-ups-smiling-people-44412482.jpg');
}
.addBtnFriend{
    background-color: rgba(224, 254, 216, 0.817);
    color:rgb(0, 0, 0);
    border-radius: 10%;
}
.saveBtnFriend{
    background-color:rgba(224, 254, 216, 0.817);
    color:rgb(0, 0, 0);
    border-radius: 10%;
}
.addBtnFriend:hover {
    background-color: #73eb77
}
.saveBtnFriend:hover {
    background-color: #73eb77
}

.addBtnFriend:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.saveBtnFriend:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }