h2{
    font-family: 'Julius Sans One', sans-serif;
}
.friendCardName {

    color: white;
}

.friendCard {
    border:1px solid black;
    color: white;
    /* background-color: rgba(224, 254, 216, 0.817); */
    background-color: rgba(35, 36, 35, 0.5);
    border-radius: 5%;
}

.friendCard :hover {
    /* background-color: #73eb77 */
    background-color: lightsteelblue;
    color: blue;
}
.freinds-header{
    -webkit-animation: glow 3.5s ease-in-out infinite alternate;
    -moz-animation: glow 3.5s ease-in-out infinite alternate;
    animation: glow 3.5s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e3e2e2, 0 0 40px #dbdbdb, 0 0 50px #bdbcbd, 0 0 60px #4d4b4c, 0 0 70px #434142;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #6f6e6f, 0 0 40px #616161, 0 0 50px #4d4d4d, 0 0 60px #3c3a3b, 0 0 70px #727272, 0 0 80px #555455;
    }
}

.friendsList{
    border:1px solid black;
    width:20vw;
    height:95vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:linear-gradient(
        rgba(11, 14, 6, 0.9),
        rgba(48, 13, 52, 0.714)
        ),
         url('https://thumbs.dreamstime.com/b/grid-close-ups-smiling-people-44412482.jpg');
}
.addBtnFriend{
    background-color: rgba(224, 254, 216, 0.817);
    color:rgb(0, 0, 0);
    border-radius: 10%;
}
#saveBtnFriend{
    background-color:rgba(224, 254, 216, 0.817);
    color:rgb(0, 0, 0);
    border-radius: 10%;
}
.addBtnFriend:hover {
    background-color: #73eb77
}
#saveBtnFriend:hover {
    background-color: #73eb77
}

.addBtnFriend:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#saveBtnFriend:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }



 .deleteFriendButton{

    background-color: rgba(224, 254, 216, 0.817);
    /* color:rgb(0, 0, 0); */
    border-radius: 10%;
    background-color: rgb(247, 6, 6);
    color:white;
    
  }

 .deleteFriendButton:hover {
    /* background-color: #73eb77; */
    /* background-color: lightsalmon */
    /* background-color: red; */
    background-color: #b30404;
    color:white;
}



.deleteFriendButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

#addBtnFriend{
    background-color: rgba(224, 254, 216, 0.817);
    color:rgb(0, 0, 0);
    border-radius: 10%;
}
#saveBtnFriend{
    background-color: rgba(224, 254, 216, 0.817);
    color:rgb(0, 0, 0);
    border-radius: 10%;
}
#addBtnFriend:hover {
    background-color: #73eb77
}
#saveBtnFriend:hover {
    background-color: #73eb77
}

#addBtnFriend:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#saveBtnFriend:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }