
.container{
   border:1px solid black; 
}
.headerTitle{
    letter-spacing: 3rem;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e3e2e2, 0 0 40px #dbdbdb, 0 0 50px #bdbcbd, 0 0 60px #4d4b4c, 0 0 70px #434142;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #6f6e6f, 0 0 40px #616161, 0 0 50px #4d4d4d, 0 0 60px #3c3a3b, 0 0 70px #727272, 0 0 80px #555455;
    }
  }



.header {
    border:1px solid black;
    color:white;
    background-color: black;
    font-family: 'Julius Sans One', sans-serif;
}



.logoutButton1, .log_buttonAlign {
margin-left:90vw;
  
}
.logoutButton2 {

    display:flex;
    flex-direction: row;
    justify-content: flex-end;
   
}


.logOutBtn, .gtfoButton{

    background-color: rgba(224, 254, 216, 0.817);
    border-radius: 10%;
    background-color: rgb(247, 6, 6);
    color:white;

  }

 .logOutBtn, .gtfoButton:hover {
    /* background-color: #73eb77; */
    /* background-color: lightsalmon */
    /* background-color: red; */
    background-color: #b30404;
    color:white;
}



.logOutBtn, .gtfoButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  