html{
  background-color: black;
}

h1{
  font-family: 'Julius Sans One', sans-serif;
  color:white;
  display: flex;
  justify-content: center;
  letter-spacing: 1rem;
  font-size: xx-large;
  -webkit-animation: glow 3.5s ease-in-out infinite alternate;
  -moz-animation: glow 3.5s ease-in-out infinite alternate;
  animation: glow 3.5s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e3e2e2, 0 0 40px #dbdbdb, 0 0 50px #bdbcbd, 0 0 60px #4d4b4c, 0 0 70px #000000;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #575757, 0 0 40px #353535, 0 0 50px #323232, 0 0 60px #3c3a3b, 0 0 70px #727272, 0 0 80px #000000;
  }
}


a{
  color:white;
}
input{
  background-color: rgba(171, 171, 171, 0.345);
}
.userLabels{
  color:white;
  font-family: 'Julius Sans One', sans-serif;
}
/* .userForm{
  height:100vh;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:linear-gradient(
      rgba(19, 19, 19, 0.95),
      rgba(11, 11, 11, 0.95)
      ),
       url('https://thumbs.dreamstime.com/z/seamless-black-gold-art-deco-vector-pattern-background-seamless-black-gold-art-deco-vector-pattern-132199097.jpg');
} */
.welcomeForm{
  height:100vh;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:linear-gradient(
      rgba(19, 19, 19, 0.95),
      rgba(11, 11, 11, 0.95)
      ),
       url('https://thumbs.dreamstime.com/z/seamless-black-gold-art-deco-vector-pattern-background-seamless-black-gold-art-deco-vector-pattern-132199097.jpg');
}
.reg-header{
  text-align: center;
  padding-top: 30vh;
}
.reg-form{
  text-align: center;
}

.welcomeFormContent{
  padding-top: 30vh;
}

.userFormDiv{
  margin-top: 30vh;

}
.userFormDiv{
  /* display: flex;*/
  height:100vh;
  margin:0 auto;
  justify-content: center;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:linear-gradient(
      rgba(19, 19, 19, 0.95),
      rgba(11, 11, 11, 0.95)
      ),
       url('https://thumbs.dreamstime.com/z/seamless-black-gold-art-deco-vector-pattern-background-seamless-black-gold-art-deco-vector-pattern-132199097.jpg');
}


.newUserBtn{
    background-color: rgb(79, 152, 118);
    color:white;
    border-radius: 10%;
}

.newUserBtn:hover {
    background-color: #73eb77
}


.newUserBtn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
